.tasbeh{
    width: 130px;
    height: 150px;
    background-color: coral;
    border: 1px solid chocolate;
    position: absolute;
    top: 10%;
    left: 40%;
    border-radius: 20%;
}
.ekran{
    width: 55%;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 20%;
    border-radius: 9%;
    border: 1px solid floralwhite;
    caret-color: white;
    font-size: 35px;
    text-align: right;
}
.tugma{
    position: absolute;
    top: 42%;
    left: 30%;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: gray;
}
.nolga{
    position: absolute;
    top: 70%;
    left: 57%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: burlywood;
}
.open{
    position: absolute;
    top: 70%;
    left: 15%;
    width: 35px;
    height: 25px;
    border-radius: 50%;
    background-color: #efd8a9;
}